*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica,Arial,sans-serif;
    background-color: #eceef1;
    color: #4c4c4c;
}
a {
    text-decoration: none;
    color: #0077c5;
}
/* top container */
#sign-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 40px;
}

#text-sign{
    margin-right: 6px;
    font-size: 12px;
    line-height: 1.4;
}

#button-sign button{
    padding: 0px 25px;
    height: 34px;
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    cursor: pointer;
    color: white;
}

/* logos container*/
#logos-container{
    margin-top: 30px;
    text-align: center;
}

#icons-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
}

#icons-container a{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 4px;
    color: #6b6c72; 
}

/* Formulário */
#form-container{
    border: 1px solid #c7c7c7;
    border-bottom: none;
    background-color: #fff;
    margin: auto;
    width: 380px;
    padding: 30px;
    align-items: center;
}
form label{ 
    display: flex;
    text-align: center;
}
#form-create{
    text-align: center;
    margin-bottom: 20px;
}
#form-create .create{
    margin-bottom: 20px;
    color: #4C4C4C;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px
}
#form-create div:last-child{
    font-size: 14px;
}
#form-create a{
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
#form input{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 34px;
    width: 100%;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    border: 1px solid #d8d8d8;
    color: #000000;
    outline: none;
    font-size: 1.2em;
    border-radius: 3px;
    line-height: 1.3em;
}
/*image in input password*/
#form #password{
    background: url(images/lock.png) no-repeat 96% 50% / 21px 21px;
    
}
/* Button Create Account*/
#form button{
    padding: 6px 12px;
    width: 100%;
    height: 44px;
    min-width: 160px;
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    cursor: pointer;
    color: white;
    border: none;
    font-weight: normal;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
	min-width: 100px;
    margin-bottom: 0;
    margin-top: 10px;
	line-height: 1.428571429;
	text-align: center;
    vertical-align: middle;
}
/*footer terms privacy statement*/
#footer-form{
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    color: #757575;
    line-height: 1.5;
}

#footer-captcha{
    background-color: #eceef1;
    border: 1px solid #c7c7c7;
    border-top: none;
    font-size: 10px;
    padding: 20px;
    margin: auto;
    width: 380px;
    text-align: center;
    
}
/* footer container*/
#footer-container{
    text-align: center;
    font-size: 12px;
    color: #505050;
    margin: 20px 0;line-height: 1.5;
}
#footer-link-container ul li{
    display: inline;
    padding-left: 10px;
}
#footer-link-container a{
    color: #505050;
}
#footer-last-container{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:#6B6C72;
    margin-right: 60px;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 3px;
    z-index: 100;
    cursor: pointer;
    font-family: inherit;
}
#footer-last-container a{
    color: #fff;
}



   